* {
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    background-color: rgb(40, 80, 154);
    height: 35px;
    padding: 35px;
    color: white;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 120px);
    gap: 5px;

}

.main {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.point {
    padding: 50px;
    border-style: solid;
}

#scoreboard {

}