* {
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    background-color: rgb(40, 80, 154);
    height: 35px;
    padding: 35px;
    color: white;
}

#game {
    display: grid;
    grid-template-rows: repeat(3, 10px);
    gap: 5px;
    text-align: center;
}

#game .row  {
    font-size: 64px;
}