* {
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    background-color: rgb(40, 80, 154);
    height: 35px;
    padding: 35px;
    color: white;
}

#game {
    display: grid;
    grid-template-rows: repeat(3, 50px);
    gap: 5px;
    text-align: center;
    margin-top: 100px;
}

#game .point  {
    font-size: 32px;
}

.point {
    padding: 50px;
    border-style: solid;
}